.footer{
    p{
        text-align: center;
        font-size: 0.85rem;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    a:visited{
       color: $base; 
    }
}
