html,
body {
	margin: 0;
	padding: 0;
	border: none;
	user-select: none;
}

body {
	margin: 0 2.5vw 20px;
	background-color: #111;
	color: #ddd;
}

blockquote {
	font-size: 14px;
	color: #000;
	background-color: #ddd;
	border-left: 4px solid #333;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

h1 {
	text-align: center;
}

p {
	text-align: justify;
}

img {
	max-height: 100%;
}

ul,
ol {
	list-style-position: inside;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}

li > p {
	display: inline;
}

a {
	color: yellow;
}

pre {
	overflow: scroll;
}

footer {
	border: 1px solid skyblue;
}

table td {
	border: 1px solid white;
}

header > p {
	text-align: center;
}

.home-btn {
	margin-top: 10px;
	text-align: center;
}
