---
layout: default
---
<header>
  <h1>{{ site.title | default: site.github.repository_name }}</h1>
  <p>{{ site.description | default: site.github.project_tagline }}</p>
  <hr>
</header>
<div class="home">
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  <h2>Projects</h2>
  <ul>
    <li><a href="https://github.com/CH3CO3H/wuhyu">双注输入法</a></li>
  </ul>
</div>
<footer>
  <p><a href="/links">博客链接</a></p>
  <p class="rss-subscribe">subscribe via <a href="{{ "/feed.json" | relative_url }}">JSON feed</a></p>
</footer>
