<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
 <body>
<header>
	<h1>{{ site.title | default: site.github.repository_name }}</h1>
	<p>{{ site.description | default: site.github.project_tagline }}</p>
	<hr>
</header>
<h2>分类</h2>
<h3>math</h3>
<ul>
	{% for post in site.categories.math %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>
<h3>cs</h3>
<ul>
	{% for post in site.categories.cs %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>
<h3>views</h3>
<ul>
	{% for post in site.categories.views %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>
<h2>项目</h2>
<ul>
  <li><a href="https://github.com/CH3CO3H/wuhyu">双注输入法</a></li>
  <li><a href="https://github.com/CH3CO3H/go-node">围棋游戏</a></li>
</ul>
<footer>
  <p><a href="/links">博客链接</a></p>
  <p class="rss-subscribe">subscribe via <a href="{{ "/feed.json" | relative_url }}">JSON feed</a></p>
</footer>
</body>
</html>