<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	<link rel="stylesheet" href="/assets/css/post.css">
	<link rel="stylesheet" href="/assets/css/footer.css">
</head>
<body>
	<div class="container">
		<main>
{{ content }}
		</main>
		<aside class="info">
			<h3>文档信息</h3>
			<li>发表日期：{{ page.date | date_to_string }}</li>
{% if page.modifiy %}
			<li>修改日期：{{ page.modify }}</li>
{% endif %}
			<li>LICENSE: <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" >CC-BY-NC-SA 3.0</a></li>
{% if page.pic %}
			<li><a href="{{ page.picaddress }}">图片来源：{{ page.pic }}</a></li>
			<li><a href="{{ page.picowneraddress }}">图片所有者：{{ page.picowner }}</a></li>
			<li><a href="{{ page.piclicenseaddress }}">图片授权协议：{{ page.piclicense }}</a></li>
{% endif %}
			<hr>
			<h3>Read this elsewhere</h3>
			<ul>
{% if page.eget %}
			<li><a href="{{ page.eget }}">公众号 eGet</a></li>
{% endif %}
{% if page.writeas %}
			<li><a href="{{ page.writeas }}">Write.as</a></li>
{% endif %}
{% if page.writee %}
			<li><a href="{{ page.writee }}">Writee</a></li>
{% endif %}
{% if page.bilibili %}
			<li><a href="{{ page.bilibili }}">Bilibili</a></li>
{% endif %}
{% if page.zhihu %}
			<li><a href="{{ page.zhihu }}">Zhihu</a></li>
{% endif %}
{% if page.jianshu %}
			<li><a href="{{ page.jianshu }}">Jianshu</a></li>
{% endif %}
			</ul>
		</aside>
	</div>
{% include footer.html %}

{% for tag in  page.tags %}
{% if tag=="mermaid" %}
	<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
	<script>
	mermaid.initialize({startOnLoad:true});
	mermaid.init('code.language-mermaid');
	</script>
{% endif %}
{% endfor %}
</body>
</html>
